* {
margin: 0;
padding: 0;
font-family: 'Roboto Mono', monospace;
}

body {
	background-color: #1A1A1A;
}


/********Nav Bar Customisation********/
.navbar {
	background-color: #2B2B2B;
	position: relative;
	height: 2em;
}

.nav-list {
	/*display: inline;*/
	position: relative;
	line-height: 30px;
	list-style-type: none;
}


a:link,a:visited,.nav-link {
	color: #33FF00;
	text-decoration: none
}

a:hover,.nav-link {
	color: red;
}

.nav-item {
	display: inline;
	float: center;
	padding-left: 1em;

	/*border-color: #4F4F4F;
  	border-style: solid;
  	/*border-width: 2%;
    border-radius: 6px;
    */
}



/********Main website********/
.left-column {
	position: absolute;
    left: 0;
    width: 40%;
}

.right-column {
	position: absolute;
	right: 5%;
    width: 40%;
}

.terminal {
	/*---Size formatting---*/
    position: absolute;
    margin-right: 4%;
    margin-left: 4%;
	height: 30vh;
  	width: 40vw;

  	/*---Box styling---*/
  	justify-content: center;
    align-self: center;
  	/*display: flex;*/
  	border-color: #33FF00;
  	border-style: solid;
  	border-width: 2%;
    border-radius: 4px;
    box-shadow: 0 0 3px #66FF00;

    background-color: #141414;    

  	/*---Font Styling---*/
  	padding-top: 0.5em;
    padding-left: 1%;
    padding-right: 1%;
  	
  	
    color: #33FF00;
    /*color: white; Terminal styling*/
    text-shadow: 0 0 0px #66FF00;
}

#term-1 {
  margin-top: 3%;
  margin-right: 3%;
}

#term-2 {
  margin-top: 3%;
  margin-right: 3%;
}