* {
margin: 0;
padding: 0;

}

body {
	background-color: #1A1A1A;
}


/********Nav Bar Customisation********/
.navbar {
	background-color: #2B2B2B;
	position: relative;
	width: 100%;
	height: 3em;
}

.nav-list {
	position: relative;
	list-style-type: none;
}

.nav-item {
	position: relative;
	height: 2em;
	display: inline-block;

	-webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);

	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	
	margin-left: 0.2em;
	margin-top: 0.5em;
}

/* Actual button customisation */
.nav-norm-left {
	position: relative;
	background-color: #3A3A3A;
	padding-left: 0.6em;
	padding-right: 0.6em;
}

.nav-item-right {
	position: relative;
	height: 2em;
	float: right;

	padding-right: 0.3%;
}

.discord-logo {
	position: relative;

	width: 40px;
	height: auto;

	margin-top: 10%;
	
}

.fb-logo {
	position: relative;

	width: 60px;
	height: auto;

	margin-top: -10%;
}

.nav-item:hover {
	background-color: #31312E;
}

.nav-link {
	font-family: 'Roboto Mono', monospace;

	position: relative;
	display: inline-block;
	-webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	
	padding-left: 0.5em;
	padding-top: 0.3em;
	padding-right: 0.5em;
}

.nav-link:link, .nav-link:visited {
	color: #33FF00;
	text-decoration: none;
}

.nav-link:hover {
	color: red;
}


/********Logo Config*********/
.logo-div {
	display: block;

	width: auto;
	height: auto;
}

#logo-obj {
	display: block;

	max-width: 90%;
	height: auto;

	
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	margin-bottom: auto;
	
}

/*
.logo-text {
	display: block;

	color: #33FF00;
	padding-left: auto;
	padding-right: auto;
	text-align: center;	

	font-size: 3em;
}*/


/********Main website********/
.left-column {
	position: absolute;
    left: 0;
    width: 40%;
}

.right-column {
	position: absolute;
	right: 5%;
    width: 40%;
}

.terminal {
	/*---Size formatting---*/
    position: absolute;
    margin-right: 4%;
    margin-left: 4%;
	height: 30vh;
  	width: 40vw;

  	/*---Box styling---*/
  	justify-content: center;
    align-self: center;
  	/*display: flex;*/
  	border-color: #33FF00;
  	border-style: solid;
  	border-width: 2%;
    border-radius: 4px;
    box-shadow: 0 0 3px #66FF00;

	background-color: #141414;  
}

.reg-text {
	/*---Terminal font styling---*/
	font-family: 'Inconsolata', monospace;
	font-weight: lighter;
	font-size: 1em;
	
	color: #33FF00;
	
	padding-top: 0.5em;
    padding-left: 1%;
    padding-right: 1%;
}

#term-1 {
	margin-top: 5%;
	margin-right: 10%;
	margin-left: 10%;

	height: 80vh;
}

#paragraph {
	font-size: 0.1em;
}
