body {
	background-color: #1A1A1A;

  /* Terminal background effect
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
  height: 100vh;
  */
}

/* Terminal background
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
} */

#logo {
    width: 10%;
}

.left-column {
    float: left;
    width: 50%;
}

.right-column {
    float: right;
    width: 50%;
}

.terminal {
	/*---Size formatting---*/
		height: 30vh;
  	width: 100vh;

  	/*---Box styling---*/
  	justify-content: center;
    align-self: center;
  	/*display: flex;*/
  	border-color: #33FF00;
  	border-style: solid;
  	border-width: 2%;
    border-radius: 4px;
    box-shadow: 0 0 3px #66FF00;

    background-color: #141414;    

  	/*---Font Styling---*/
    padding-left: 1%;
    padding-right: 1%;
  	
  	font-family: 'Courier Prime', monospace;
    color: #33FF00;
    /*color: white; Terminal styling*/
    text-shadow: 0 0 0px #66FF00;


}

.terminal h1 {
    font-size: 1em;
}

.terminal h2 {
    font-size: 0.5em;
}

.left-terminal {
	float: left;
}

.right-terminal {
	float: right;
}