.work-term {
    position: relative;
    width: 50vw;


    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

#left-term {
    width: 50vw;
    height: auto;

    margin-top: 2%;
    margin-left: 5vw;
    margin-right: auto;

    padding-bottom: 1%;
}

#right-term {
    width: 50vw;
    height: auto;

    margin-top: 2%;
    margin-left: auto;
    margin-right: 5vw;

    padding-bottom: 1%;
}

#work-header {
    margin-top: 1%;
}