.writeup {
    position: relative;
    display: inline-block;

    width: 56vw;

    padding-left: 6%;
    padding-top: 4%;

    
}

.writeup-term {

    margin-top: 20px;
    padding-left: 10px;
    padding-bottom: 7px;

    /* Terminal Styling*/
    justify-content: center;
    align-self: center;
  	border-color: #33FF00;
  	border-style: solid;
  	border-width: 2%;
    border-radius: 4px;
    box-shadow: 0 0 3px #66FF00;

    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-left-width 0.3s ease-in-out;
    
    background-color: #141414; 
}

.writeup-term:hover {
    border-color: red;
    box-shadow: 0 0 3px red;

    border-left: 10px solid red;
}

/* Necessary for formatting*/
.container {
    position: relative;
    padding-left: 0.3vw;
}


.time-text {
    position: relative;

    font-family: 'Inconsolata', monospace;
    font-weight: lighter;

    padding-top: 0.4%;
    padding-bottom: 1%;
}


.blog-link {
    color: red;
    text-decoration: underline;
    
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    font-size: 1.6em;
    
}

.blog-link:link, .blog-link:visited {
    text-decoration: underline;
}

.blog-link:hover {
    text-decoration: none;
}



/* Image styling*/
.img-wrap {
    position: absolute;
    display: inline-block;

    margin-left: 1vw;
}

.writeup-img {
    position: relative;

    height: auto;

    border-style: solid;
    border-color: #141414;
    border-width: 10px;
    border-radius: 4px;

    transition: border-color 0.3s ease-in-out;
}

.writeup-img:hover {
    border-color: #1A1A1A;
}

#shearwater {
    position: relative;
    width: 40%;

    margin-top: 9vh;  
}

#gcc2020 {
    position: relative;
    width: 40%;

    margin-top: 8vh;
}